@import "../../responsive.scss";

.faqPage{
  display: flex;
  height: 100%;
  gap: 20px;

  .faq-container {
    flex: 3;
    padding: 3rem 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
   
  .faq-wrapper {
    max-width: 768px; 
    width: 100%;
    padding: 0 1rem;
  
    .faq-title {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      font-weight: 900;
      margin-bottom: 2rem;
      font-size: 2rem;
      color: #008080;
    }
  
    .faq-grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem; // Adjust spacing between the questions
    }
  }
}
  

  .imgContainer {
    flex: 2;
    background-color: #fffbce;
    position: relative;
    display: flex;
    align-items: center;        
        
    @include md {
      display: none;
    }

    img {
      width: 100%;
      position: absolute;
      border-top-left-radius: 250px; 
      border-top-right-radius: 250px; 
      border: 8px solid rgb(232 232 232 / 93%); 
      right: -5px;
      opacity: 0;
      animation: fade-in-slide-up 2s ease-in-out forwards; 

      @include lg {
        width: 85%;
      }
    }
}
}

