@import "../../responsive.scss";

.searchBar {
  .type {
   
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      background-color: white;
      text-transform: capitalize;
      margin-bottom: 1px;
      width: 101px;
      cursor: pointer;
      
      &.active {
        background-color: black;
        color: white;
        
      };

      &:first-child {
        border-top-left-radius: 8px;
        border-right: none;
      };
      &:last-child {
        border-top-right-radius: 8px;
        border-left: none;
      };
    }
  }

  form {
    margin-top: 1px;
    display: flex;
    justify-content: space-between;
    height: 64px;
    gap: 5px;

    @include sm {
      flex-direction: column;
      border: none;
    };

    input {
      border: 0.5px solid #999;
      padding: 0px 10px;
      width: 200px;

      @include lg {
        padding: 0px 5px;

        &:nth-child(2) {
          width: 140px;
        }

        &:nth-child(3) {
          width: 140px;
        }
      };
      @include md {
        width: 200px;
        &:nth-child(2){
          width: 200px;
        }

        &:nth-child(3) {
          width: 200px;
        }
      };

      @include sm{
        width: auto;
        padding: 20px;
        border: 1px solid #999;
        
        &:nth-child(2){
          width: auto;          
        }
        &:nth-child(3) {
          width: auto;          
        }
        
      }
    };

    a{
      flex: 1;
      background-color: #fece51;
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        border: none;
        cursor: pointer;
        background-color: #fece51;
        
        @include sm{
          padding: 10px;
        }
        
        img {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
