@import "../../responsive.scss";

.homePage {
  display: flex;
  height: 100%;
  
  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 50px;
      height: 100%;

      @include lg{
        padding-right: 50px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        justify-content: flex-start;
      }

      .title {
        font-size: 64px;
        .small-text {
          font-size: 0.5em;
          color: #aaa; 
          margin-right: 10px;
        }
        .animated-text {
          display: inline-block;
          position: relative;
          animation: slide-in 2s ease-in-out;
        }
        @include lg {
          font-size: 48px;
        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        @include sm {
          display: none;
        }

        h1 {
          font-size: 36px;
          

          @include lg {
            font-size: 32px;
          }
        }

        h2 {
          font-size: 20px;
          font-weight: 300;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    background-color: #fffbce;
    position: relative;
    display: flex;
    align-items: center;
   

    @include md {
      display: none;
    }

    img {
      width: 115%;
      position: absolute;
      right: -45px;
      opacity: 0; /* Start invisible */
      animation: fade-in-slide-up 2s ease-in-out infinite; /* Apply infinite animation */

      @include lg {
        width: 105%;
      }
    }
  }


}
@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px); /* Start below */
  }
  50% {
    opacity: 1;
    transform: translateY(0); /* Middle point */
  }
  100% {
    opacity: 0;
    transform: translateY(-50px); /* End above */
  }
}