.loading-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #008080;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }