@import "../../responsive.scss";

.aboutPage{
    display: flex;
    height: 100%;
    
    .textContainer {
      flex: 3;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h1{
        
      }
      .accordion {
        margin-top: 2rem;
        border: none;
      }
      .accordionItem {
        background: white;
        border: 0.8px solid rgba(128, 128, 128, 0.143);
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 20px;
      }
      
      .accordionItem.expanded {
        box-shadow: var(--shadow);
        border-radius: 6px;
      }
      .accordionButton {
        background: white;
        padding: 1rem;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
      }
      
      .icon {
        padding: 10px;
        background: #eeeeff;
        border-radius: 5px;
      }
      .icon svg {
        fill: var(--blue);
      }
      
      .accordionButton .primaryText{
          font-size: 1.1rem;
      }
      
    }

    .imgContainer {
        flex: 2;
        background-color: #fffbce;
        position: relative;
        display: flex;
        align-items: center;        
            
        @include md {
          display: none;
        }
    
        img {
          width: 100%;
          position: absolute;
          border-top-left-radius: 250px; 
          border-top-right-radius: 250px; border: 8px solid rgb(232 232 232 / 93%); 
          right: -5px;
          opacity: 0;
          animation: fade-in-slide-up 2s ease-in-out forwards; 
    
          @include lg {
            width: 85%;
          }
        }
    }
}
