@import "../../responsive.scss";

.aboutPage{
    display: flex;
    height: 100%;
    
    .textContainer {
      flex: 3;
      display
    }

    .imgContainer {
        flex: 2;
        background-color: #fffbce;
        position: relative;
        display: flex;
        align-items: center;        
            
        @include md {
          display: none;
        }
    
        img {
          width: 100%;
          position: absolute;
          border-top-left-radius: 250px; /* Round top-left corner */
          border-top-right-radius: 250px; /* Round top-right corner */border: 8px solid rgb(232 232 232 / 93%); 

          right: -5px;
          opacity: 0;
          animation: fade-in-slide-up 2s ease-in-out forwards; 
    
          @include lg {
            width: 85%;
          }
        }
    }
}
